<div
  class="modal fade"
  id="loding"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="lodingLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lodingLabel">Pago de Servicios</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="height: 5cm">
        <div class="position-fixed top-50 start-50; margin-left:50%;">
          <div
            class="spinner-border text-primary"
            role="status"
            style="width: 5rem; height: 5rem"
          >
            <span class="visually-hidden"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="estudiantetotal" class="card-body" *ngIf="!load_data">
  <div class="col-md-auto">
    <!-- Alert -->
    <div class="alert alert-danger" *ngIf="estudiantes?.length == 0">
      <i class="fe fe-info mr-1"></i> No tienes Pagos realizados
    </div>

    <div class="card" *ngIf="estudiantes.length > 0">
      <div class="card-body">
        <ul class="nav nav-pills nav-overflow header-tabs">
          <ng-container *ngFor="let pen1 of config; let val = index">
            <li class="nav-item" *ngIf="active != val">
              <a
                class="nav-link"
                style="cursor: pointer"
                value="val"
                (click)="detalle_data(val)"
              >
                {{ pen1.label }}</a
              >
            </li>

            <li class="nav-item active" *ngIf="active == val">
              <a class="nav-link active" style="cursor: no-drop" value="val">
                {{ pen1.label }}</a
              >
            </li>
          </ng-container>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <p *ngIf="horaact">
            <i>{{ horaact | date : "long" }}</i>
          </p>
          <button class="btn btn-primary" (click)="actualizar_estudiante()">
            Actualizar
          </button>
        </div>
      </div>
    </div>
    <!-- Div CANVAS -->
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <canvas
            id="myChart3"
            style="display: block; box-sizing: border-box"
          ></canvas>
        </div>
      </div>
    </div>
    <!-- DIV REPORTES -->
    <ng-container *ngIf="cursos != undefined && estudiantes.length > 0">
      <div class="card">
        <div class="card-header">
          <h3 class="card-header-title">Reportes</h3>
        </div>
        <div class="card-body">
          <div class="row g-3 align-items-center">
            <div class="col-md-auto">
              <select
                name="tipreport"
                id="tipreport"
                class="form-select form-select-md"
                [(ngModel)]="auxtiprep"
                (ngModelChange)="cargarContenido($event)"
              >
                <option value="Genero">Genero</option>
                <option value="Pension">Pension</option>
                <option value="Rubro">Rubro</option>
                <option value="PensionRubro">Pension+Rubro</option>
                <option value="Becado">Becados</option>
                <option value="Retirados">Retirados</option>
              </select>
            </div>

            <div class="col-md-auto">
              <button
                *ngIf="tipreport == 'Genero'"
                class="btn btn-primary mb-3"
                (click)="imprimir_reporte()"
              >
                Impr. {{ tipreport }}
              </button>

              <a
                *ngIf="
                  tipreport == 'Pension' ||
                  tipreport == 'Rubro' ||
                  tipreport == 'PensionRubro' ||
                  tipreport == 'Becado' ||
                  tipreport == 'Retirados'
                "
                class="btn btn-primary mb-3"
                [routerLink]="['/reporte', tipreport + ' ' + pdffecha]"
                target="_blank"
              >
                Impr. {{ tipreport }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="estudiantes && estudiantes.length != 0">
      <ng-container>
        <!-- TAGS DE REPORTE GENERAL -->
        <div class="row">
          <div class="col-12 col-md-12">
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <!-- Title -->
                    <h3 class="text-uppercase text-muted mb-2">
                      Valor por pagar:
                      <span class="h3 mb-0">
                        {{ porpagar | number : "1.2" }}
                      </span>
                    </h3>
                    <h3 class="text-uppercase text-muted mb-2">
                      Valor Recaudado:
                      <span class="h3 mb-0">
                        {{ pagado | number : "1.2" }}
                      </span>
                    </h3>
                    <h3 class="text-uppercase text-muted mb-2">
                      Mese transcurridos:
                      <span class="h3 mb-0">
                        {{ nmt }}
                      </span>
                    </h3>
                    <!-- Heading -->

                    <button
                      class="btn btn-primary text-white mr-3"
                      style="cursor: pointer"
                      (click)="exportTabletotal('Total')"
                    >
                      Descargar en PDF
                    </button>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
          </div>
        </div>

        <div id="Total">
          <ng-container *ngIf="cursos != undefined">
            <div class="card">
              <!--TABLERO DE CONTROL DE DETALLE ECONOMICO DE PENSIONES-->
              <div class="card-header">
                <h3 class="card-header-title">
                  DETALLE ECONOMICO DE PENSIONES
                </h3>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button
                    id="btnpdf"
                    type="button"
                    mat-raised-button
                    class="btn btn-primary"
                    (click)="exportTable('detalleeconomico')"
                  >
                    PDF
                  </button>

                  <button
                    id="btncash"
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#modalGenerarCash'"
                  >
                    CASH
                  </button>
                  <button
                    id="btncashPARALELO"
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#modalGenerarCashPARALELO'"
                  >
                    CASH PARALELO
                  </button>
                  <button
                    class="rainbow-button"
                    [ngStyle]="{
                      'background-image':
                        'linear-gradient(to right, ' + colors.join(', ') + ')'
                    }"
                    id="btnDesGoogle"
                    type="button"
                    data-bs-toggle="modal"
                    [attr.data-bs-target]="'#modalDesGoogle'"
                  >
                    <i class="bi bi-google"></i>
                    <span class="material-icons">Deshabilitar</span> Google
                  </button>
                </div>
              </div>
              <!--MODAL DE CONTROL DE CASH-->
              <div
                class="modal fade"
                id="modalGenerarCash"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                  role="documentrubro"
                >
                  <div class="modal-content">
                    <div class="modal-header">Generar CASH</div>
                    <div class="modal-body">
                      <div class="row">
                        <label for="">
                          Selecciona los meses para generar el CASH
                        </label>
                        <select
                          id="numcash"
                          class="form-select form-select-sm"
                          [(ngModel)]="mcash"
                        >
                          <option selected>Selecciona un mes</option>
                          <ng-container
                            *ngFor="let mes of arr_meses; let i = index"
                          >
                            <option [value]="i + 1">
                              {{ mes.nombre }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" (click)="onCash(false)">
                        Generar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--MODAL DE CONTROL DE CASH PARALELO-->
              <div
                class="modal fade"
                id="modalGenerarCashPARALELO"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                  role="documentrubro"
                >
                  <div class="modal-content">
                    <div class="modal-header">Generar CASH</div>
                    <div class="modal-body">
                      <div class="row">
                        <label for="">
                          Selecciona los meses para generar el CASH
                        </label>
                        <select
                          id="numcash"
                          class="form-select form-select-sm"
                          [(ngModel)]="mcash"
                        >
                          <option selected>Selecciona un mes</option>
                          <ng-container
                            *ngFor="let mes of arr_meses; let i = index"
                          >
                            <option [value]="i + 1">
                              {{ mes.nombre }}
                            </option>
                          </ng-container>
                        </select>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" (click)="onCash(true)">
                        Generar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--MODAL DE CONTROL DE GOOGLE-->
              <div
                class="modal fade"
                id="modalDesGoogle"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                  role="documentrubro"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      Selecciona a los Usuario que deseas Deshabilitar
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <label for=""> Selecciona los meses de corte </label>
                        <select
                          id="numcash"
                          class="form-select form-select-sm"
                          [(ngModel)]="dsgoogle"
                        >
                          <option selected>Selecciona un mes</option>
                          <ng-container
                            *ngFor="let mes of arr_meses; let i = index"
                          >
                            <option [value]="i + 1">
                              {{ mes.nombre }} ({{ i + 1 }})
                            </option>
                          </ng-container>
                        </select>
                      </div>
                      <div class="row">
                        <label for=""
                          >Puedes ingresar un valor de Acotamiento</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          [(ngModel)]="contamiento"
                          min="0"
                        />
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" (click)="desGooglePlus()">
                        Generar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--MODAL DE CONTROL DE GOOGLE CONFIRMACION-->
              <div
                class="modal fade"
                id="modalDesGoogleConfir"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div
                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                  role="documentrubro"
                >
                  <div class="modal-content">
                    <div class="modal-header">
                      Confirmación de Deshabilicación de usuarios
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <label for="">
                          Deseas Deshabilitar a {{ emails.length }} usuarios?
                        </label>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        class="btn btn-primary"
                        (click)="desGooglePlusConfir()"
                      >
                        Si, Deshabilitar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!--TABLA DE CONTROL DE DETALLE ECONOMICO DE PENSIONES-->
              <!-- resumen.component.html -->
              <div class="container-fluid">
                <!-- Botones de nivel -->
                <div class="my-4">
                  <button
                    class="btn btn-primary me-2"
                    (click)="showLevel = 'especialidad'; updateChart()"
                  >
                    Especialidad
                  </button>
                  <button
                    class="btn btn-primary me-2"
                    (click)="showLevel = 'curso'; updateChart()"
                  >
                    Cursos
                  </button>
                  <button
                    class="btn btn-primary"
                    (click)="showLevel = 'paralelo'; updateChart()"
                  >
                    Paralelos
                  </button>
                </div>

                <div class="table-responsive">
                  <table class="table table-bordered" id="detalleeconomico">
                    <thead>
                      <tr>
                        <th>Especialidad</th>
                        <ng-container *ngFor="let especialidad of resumen">
                          <th
                            class="centered-header"
                            [attr.colspan]="
                              showLevel == 'curso'
                                ? getCursosUniques(especialidad.cursos).length
                                : showLevel == 'paralelo'
                                ? especialidad.cursos.length
                                : 1
                            "
                          >
                            {{ especialidad.nombre }}
                          </th>
                        </ng-container>
                      </tr>
                      <tr *ngIf="showLevel !== 'especialidad'">
                        <th>Cursos</th>
                        <ng-container *ngFor="let especialidad of resumen">
                          <ng-container *ngIf="showLevel == 'curso'">
                            <th
                              class="centered-header"
                              *ngFor="
                                let curso of getCursosUniques(
                                  especialidad.cursos
                                )
                              "
                            >
                              {{ curso }}
                            </th>
                          </ng-container>
                          <ng-container *ngIf="showLevel == 'paralelo'">
                            <th
                              class="centered-header"
                              *ngFor="
                                let curso of getCursosUniques(
                                  especialidad.cursos
                                )
                              "
                              [attr.colspan]="
                                getCountCursor(especialidad, curso)
                              "
                            >
                              {{ curso }}
                            </th>
                          </ng-container>
                        </ng-container>
                      </tr>
                      <tr
                        *ngIf="
                          showLevel !== 'especialidad' && showLevel !== 'curso'
                        "
                      >
                        <th>Paralelos</th>
                        <ng-container *ngFor="let especialidad of resumen">
                          <ng-container
                            *ngFor="let curso of especialidad.cursos"
                          >
                            <th class="centered-header">
                              {{ curso.paralelo }}
                            </th>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </thead>

                    <tbody>
                      <!-- Fila de número de estudiantes -->
                      <tr>
                        <th scope="row" class="bg-info text-white">
                          N° de Estudiantes
                        </th>
                        <!-- Datos por especialidad -->
                        <ng-container *ngIf="showLevel === 'especialidad'">
                          <td *ngFor="let esp of resumen">
                            {{ getTotalEstudiantesByEspecialidad(esp) }}
                          </td>
                        </ng-container>

                        <!-- Datos por curso -->
                        <ng-container *ngIf="showLevel === 'curso'">
                          <ng-container *ngFor="let esp of resumen">
                            <ng-container
                              *ngFor="let curso of getCursosUniques(esp.cursos)"
                            >
                              <td>
                                {{ getTotalEstudiantesByCurso(esp, curso) }}
                              </td>
                            </ng-container>
                          </ng-container>
                        </ng-container>

                        <!-- Datos por paralelo -->
                        <ng-container *ngIf="showLevel === 'paralelo'">
                          <ng-container *ngFor="let esp of resumen">
                            <ng-container *ngFor="let curso of esp.cursos">
                              <td>
                                {{ getTotalEstudiantesByParalelo(curso) }}
                              </td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>

                      <!-- Fila de valor recaudado -->
                      <tr>
                        <th scope="row" class="bg-success text-white">
                          Valor Recaudado
                        </th>
                        <!-- Datos por especialidad -->
                        <ng-container *ngIf="showLevel === 'especialidad'">
                          <td *ngFor="let esp of resumen">
                            {{
                              getTotalRecaudadoByEspecialidad(esp) | currency
                            }}
                          </td>
                        </ng-container>

                        <!-- Datos por curso -->
                        <ng-container *ngIf="showLevel === 'curso'">
                          <ng-container *ngFor="let esp of resumen">
                            <td
                              *ngFor="let curso of getCursosUniques(esp.cursos)"
                            >
                              {{
                                getTotalRecaudadoByCurso(esp, curso) | currency
                              }}
                            </td>
                          </ng-container>
                        </ng-container>

                        <!-- Datos por paralelo -->
                        <ng-container *ngIf="showLevel === 'paralelo'">
                          <ng-container *ngFor="let esp of resumen">
                            <ng-container *ngFor="let curso of esp.cursos">
                              <td>
                                {{
                                  getTotalRecaudadoByParalelo(curso) | currency
                                }}
                              </td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>

                      <!-- Fila de valor por pagar -->
                      <tr>
                        <th scope="row" class="bg-danger text-white">
                          Valor por Pagar
                        </th>
                        <!-- Datos por especialidad -->
                        <ng-container *ngIf="showLevel === 'especialidad'">
                          <td *ngFor="let esp of resumen">
                            {{ getTotalPorPagarByEspecialidad(esp) | currency }}
                          </td>
                        </ng-container>

                        <!-- Datos por curso -->
                        <ng-container *ngIf="showLevel === 'curso'">
                          <ng-container *ngFor="let esp of resumen">
                            <td
                              *ngFor="let curso of getCursosUniques(esp.cursos)"
                            >
                              {{
                                getTotalPorPagarByCurso(esp, curso) | currency
                              }}
                            </td>
                          </ng-container>
                        </ng-container>

                        <!-- Datos por paralelo -->
                        <ng-container *ngIf="showLevel === 'paralelo'">
                          <ng-container *ngFor="let esp of resumen">
                            <ng-container *ngFor="let curso of esp.cursos">
                              <td>
                                {{
                                  getTotalPorPagarByParalelo(curso) | currency
                                }}
                              </td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr class="bg-info text-white fw-bold">
                        <th>Total</th>
                        <!-- Datos por especialidad -->
                        <ng-container *ngIf="showLevel === 'especialidad'">
                          <td *ngFor="let esp of resumen">
                            {{
                              getSumaTotalParse(
                                getTotalRecaudadoByEspecialidad(esp),
                                getTotalPorPagarByEspecialidad(esp)
                              ) | currency
                            }}
                          </td>
                        </ng-container>

                        <!-- Datos por curso -->
                        <ng-container *ngIf="showLevel === 'curso'">
                          <ng-container *ngFor="let esp of resumen">
                            <td
                              *ngFor="let curso of getCursosUniques(esp.cursos)"
                            >
                              {{
                                getSumaTotalParse(
                                  getTotalRecaudadoByCurso(esp, curso),
                                  getTotalPorPagarByCurso(esp, curso)
                                ) | currency
                              }}
                            </td>
                          </ng-container>
                        </ng-container>

                        <!-- Datos por paralelo -->
                        <ng-container *ngIf="showLevel === 'paralelo'">
                          <ng-container *ngFor="let esp of resumen">
                            <ng-container *ngFor="let curso of esp.cursos">
                              <td>
                                {{
                                  getSumaTotalParse(
                                    getTotalPorPagarByParalelo(curso),
                                    getTotalRecaudadoByParalelo(curso)
                                  ) | currency
                                }}
                              </td>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- student-payments.component.html -->
          <ng-container *ngFor="let especialidad of especialidades">
            <div class="card mb-3" *ngIf="pagos_estudiante[especialidad.code]">
              <!-- Encabezado de Especialidad -->
              <div class="card-header bg-light">
                <h4
                  class="card-header-title mb-0 d-flex justify-content-between align-items-center"
                >
                  <button
                    class="btn btn-link text-decoration-none w-100 text-start"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse-' + especialidad.code"
                    [attr.aria-expanded]="false"
                    [attr.aria-controls]="'collapse-' + especialidad.code"
                  >
                    <i
                      [class.fe-chevron-down]="!especialidad.isExpanded"
                      [class.fe-chevron-up]="especialidad.isExpanded"
                      class="fe me-2"
                    ></i>
                    {{ especialidad.code }}
                  </button>

                  <button
                    class="btn btn-primary btn-sm"
                    (click)="
                      exportTable(
                        'collapse-' + especialidad.code,
                        '',
                        especialidad.code
                      )
                    "
                    [id]="'btnEspecialidad' + especialidad.code"
                  >
                    <i class="fe fe-printer me-1"></i>
                    Imprimir
                  </button>
                </h4>
              </div>

              <!-- Contenido de Especialidad -->
              <div [id]="'collapse-' + especialidad.code" class="collapse show">
                <ng-container
                  *ngFor="
                    let curso of pagos_estudiante[especialidad.code] | keyvalue
                  "
                >
                  <div class="card m-3">
                    <!-- Encabezado de Curso -->
                    <div
                      class="card-header d-flex justify-content-between align-items-center"
                    >
                      <h5 class="card-header-title mb-0">
                        Curso: {{ curso.key }} {{ especialidad.code }}
                      </h5>
                      <button
                        class="btn btn-primary btn-sm"
                        (click)="
                          exportTable(
                            curso.key + especialidad.code,
                            '',
                            especialidad.code,
                            curso.key
                          )
                        "
                        [id]="'btnCurso' + curso.key + especialidad.code"
                      >
                        <i class="fe fe-printer me-1"></i>
                        Imprimir
                      </button>
                    </div>

                    <!-- Tabla de Datos -->
                    <div class="table-responsive">
                      <table
                        [id]="curso.key + especialidad.code"
                        class="table table-sm table-hover"
                      >
                        <thead>
                          <tr>
                            <th>Curso</th>
                            <th class="bg-info text-white">N° Estudiantes</th>
                            <th class="bg-success text-white">
                              Valor Recaudado
                            </th>
                            <th class="bg-danger text-white">
                              Valor por Cobrar
                            </th>
                            <th>Total General</th>
                            <th>Matriculados</th>
                            <th>No Matriculados</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="curso.value">
                          <tr *ngFor="let paralelo of curso.value | keyvalue">
                            <th>
                              {{ curso.key }} {{ especialidad.name }}
                              {{ paralelo.key }}
                            </th>
                            <td>
                              <ng-container *ngIf="isArray(paralelo.value)">
                                {{ isArryLength(paralelo.value) }}
                              </ng-container>
                            </td>
                            <td>
                              {{
                                getParaleloSum(paralelo.value, 0)
                                  | number : "1.2-2"
                              }}
                            </td>
                            <td>
                              {{
                                getParaleloSum(paralelo.value, 1)
                                  | number : "1.2-2"
                              }}
                            </td>
                            <td>
                              {{
                                getTotalParalelo(paralelo.value)
                                  | number : "1.2-2"
                              }}
                            </td>
                            <td>{{ getMatriculados(paralelo.value) }}</td>
                            <td>{{ getNoMatriculados(paralelo.value) }}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr class="bg-info text-white fw-bold">
                            <td>Total</td>
                            <td>{{ getTotalEstudiantes(curso.value) }}</td>
                            <td>
                              {{
                                getTotalRecaudado(curso.value)
                                  | number : "1.2-2"
                              }}
                            </td>
                            <td>
                              {{
                                getTotalPorCobrar(curso.value)
                                  | number : "1.2-2"
                              }}
                            </td>
                            <td>
                              {{
                                getTotalGeneral(curso.value) | number : "1.2-2"
                              }}
                            </td>
                            <td>{{ getTotalMatriculados(curso.value) }}</td>
                            <td>{{ getTotalNoMatriculados(curso.value) }}</td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div
  class="card"
  id="impresion"
  style="display: none; margin-left: 85%"
  *ngIf="tipreport == 'Genero' && load_data == false"
>
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-3" style="text-align: center; width: 20%">
        <img
          _ngcontent-twf-c49=""
          [src]="url + 'obtener_portada/' + imagen"
          alt="..."
          class="navbar-brand-img mx-auto"
          style="max-width: 40%"
        />
      </div>
      <div class="col-auto" style="text-align: center; width: 60%">
        <h2>
          <b> {{ info.titulo | uppercase }}</b>
          <h4 style="text-align: center">
            Dirección: {{ info.calle1 }} y {{ info.calle2 }}<br />

            Teléfono: {{ info.telefonocon }}<br />

            Año lectivo {{ pdffecha }}
          </h4>
        </h2>
      </div>
      <div class="col-3" style="text-align: center; width: 20%">
        <img
          _ngcontent-twf-c49=""
          src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg"
          alt="..."
          class="navbar-brand-img mx-auto"
          style="max-height: 4rem !important"
          style="height: 2cm"
        /><br />
        <img
          _ngcontent-twf-c49=""
          src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png"
          alt="..."
          class="navbar-brand-img mx-auto"
          style="max-height: 4rem !important"
          style="height: 2cm"
        />
      </div>
    </div>
    <h4 class="card-header-title">Genero</h4>
  </div>
  <div class="card-body">
    <table class="table table-sm table-nowrap card-table" id="genero">
      <thead class="table-info">
        <tr>
          <th>Curso</th>
          <th>Paralelo</th>
          <th>Masculino</th>
          <th>Femenino</th>
          <th>n/a</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagospension; let index = index">
          <td>
            {{ item.curso }}
          </td>
          <td>
            {{ item.paralelo }}
          </td>
          <td>
            {{ item.genero[0] }}
          </td>
          <td>
            {{ item.genero[1] }}
          </td>
          <td>
            {{ item.genero[2] }}
          </td>
          <td>
            {{ item.genero[0] + item.genero[1] + item.genero[2] }}
          </td>
        </tr>
        <tr style="border: 0">
          <td colspan="5" style="border: 0; height: 100px"></td>
        </tr>
      </tbody>
      <tfoot style="border: 0">
        <div style="margin-right: auto; margin-left: auto">
          <table
            id="detalleeconomico"
            class="table table-sm table-nowrap card-table"
            style="width: 100%"
          >
            <thead style="border: 0">
              <th style="border: 0"></th>
              <th style="border: 0"></th>
              <th style="border: 0"></th>
            </thead>
            <tbody>
              <tr style="border: 0; text-align: center">
                <th style="border: 0">
                  <p>{{ director }}</p>
                  <p>Director(a)</p>
                </th>

                <th style="border: 0">
                  <p>{{ delegado }}</p>
                  <p>Delegado del Obispo</p>
                </th>

                <th style="border: 0">
                  <p>{{ admin }}</p>
                  <p>Responsable</p>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </tfoot>
    </table>
  </div>
</div>

<div
  class="card-body"
  *ngIf="load_data"
  style="cursor: progress; min-height: fit-content"
>
  <div class="row">
    <div class="position-fixed top-50 start-50">
      <div
        class="spinner-border text-primary"
        role="status"
        style="width: 5rem; height: 5rem"
      >
        <span class="visually-hidden"></span>
      </div>
    </div>
  </div>
</div>
