<div class="row" >
  <div class="col-6">
<div class="card">
      <div class="card-header">
        Reporte de {{tipreport}}
      </div>
      <div class="card-body">
        <!-- Button trigger modal -->
        <button *ngIf="tipreport=='Pension'||tipreport=='Rubro'||tipreport=='PensionRubro'" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Selección de Cursos
        </button>
        <button *ngIf="tipreport!='Pension'&&tipreport!='Rubro'&&tipreport!='PensionRubro'" class="btn btn-primary" type="button" (click)="imprimir()">Imprimir</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Selecciona los cursos para imprimir</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row ">
          <div class="mb-3" *ngIf="tipreport!='Becado' && tipreport!='Retirados'&& tipreport!='Genero'">
    
            <label for="" class="form-text">Cursos</label>
    
              <ng-container *ngFor="let curso of cursos2" >
                  <div class="form-check form-check-inline">
                    <input *ngIf="curso.name!='descr'" type="checkbox" (change)="cambiarSeleccionTodo('cursos2')" role="switch" class="form-check-input" [(ngModel)]="curso.seleccionado">
                    <input *ngIf="curso.name=='descr'" (change)="cambiarSeleccionTodo2('cursos2')" type="checkbox" role="switch" class="form-check-input" [(ngModel)]="curso.seleccionado">                              
                    
                  <label class="form-check-label">                          
                    <ng-container *ngIf="curso.name=='descr'">Todos</ng-container>
                    <ng-container *ngIf="curso.name!='descr'">{{ curso.name }}</ng-container>
                  </label>
                </div>
              </ng-container>
    
          </div>
    
          <div class="mb-3" *ngIf="tipreport!='Becado' && tipreport!='Retirados'&& tipreport!='Genero'"> 
    
            <label for="" class="form-text">Paralelo</label>   
    
              <ng-container  *ngFor="let curso of paralelo" >
                <div class="form-check form-check-inline">
    
                  <input *ngIf="curso.name!='Todos'" type="checkbox" (change)="cambiarSeleccionTodo('paralelo')" role="switch" class="form-check-input" [(ngModel)]="curso.seleccionado">
                  <input *ngIf="curso.name=='Todos'" (change)="cambiarSeleccionTodo2('paralelo')" type="checkbox" role="switch" class="form-check-input" [(ngModel)]="curso.seleccionado">                              
                  
                  <label class="form-check-label">{{ curso.name }}</label>
                  
                </div>
              </ng-container>
             
          </div>                     
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        
        <button class="btn btn-primary" type="button" (click)="imprimir()">Imprimir</button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="height: auto; display: none;">
  <div class="content">
    
    <div id="impresion" class="informe" *ngIf="tipreport=='Pension'||tipreport=='Rubro'||tipreport=='PensionRubro'">
      <ng-container
                      *ngFor="let cuentas of cursos ; let idx = index"
                    > 
      <ng-container *ngFor="let ctpagos of pagospension; let i = index" >
        <div
        id="{{ ctpagos.curso+ctpagos.paralelo }}"
        *ngIf="
          ctpagos.curso+ctpagos.paralelo == cuentas + 'A' ||
          ctpagos.curso+ctpagos.paralelo == cuentas + 'B' ||
          ctpagos.curso+ctpagos.paralelo == cuentas + 'C' ||
          ctpagos.curso+ctpagos.paralelo == cuentas + 'D' ||
          ctpagos.curso+ctpagos.paralelo == cuentas + 'E' ||
          ctpagos.curso+ctpagos.paralelo == cuentas + 'F' ||
          ctpagos.curso+ctpagos.paralelo == cuentas + 'G'
        "
        class="card"
        [ngClass]="{'table-1': i !== 0}"
      >
    
      <!--style=" page-break-inside: avoid;"-->
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-3" style="text-align: center;width: 20%; ">
                  <img _ngcontent-twf-c49="" [src]="url + 'obtener_portada/' + imagen" alt="..." 
                      class="navbar-brand-img mx-auto" style=" max-width: 40%; ">
                </div>
                <div class="col-auto" style="text-align: center; width: 60%;">
                  <h2><b>
                    {{info.titulo| uppercase}}</b>
                    <h4 style=" text-align:center;">
                    Dirección: {{info.calle1}} y {{info.calle2}}<br>
          
                    Teléfono: {{info.telefonocon}}<br>
          
                    Año lectivo {{pdffecha}}
                    </h4>
          
                    </h2>
                </div>
                <div class="col-3" style="text-align: center;width: 20%;">
                  <img _ngcontent-twf-c49="" src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg" alt="..." 
                  class="navbar-brand-img mx-auto" style="max-height: 4rem !important;" style="height: 2cm;"><br>
                  <img _ngcontent-twf-c49="" src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png" alt="..." 
                  class="navbar-brand-img mx-auto" style="max-height: 4rem !important;" style="height: 2cm;">
                </div>
          </div>
          
              <h4 class="card-header-title">
                Curso:  {{ ctpagos.curso+ctpagos.paralelo}}
              </h4>   
            </div>
            <div class="card-body"
            id="collapseExample-{{ ctpagos.curso+ctpagos.paralelo }}"
            style="       max-width: 100%;
            overflow: hidden;"
          >
          <div class="row">
            <div class="col-md-auto">
              <table
              id="{{ ctpagos.curso+ctpagos.paralelo }}"
              class="table " 
              style="table-layout: auto;"
              >
              <thead class="table-info">
                <th>N°</th>
                <th>
                  Nombres
                </th>
                  <ng-container *ngIf="(tipreport=='Pension'||tipreport=='PensionRubro')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                    <ng-container *ngFor="let item of pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle;let idenx = index">
                      <th>
                        <ng-container *ngIf="item.tipo==0||item.tipo>10">
                          {{item.date| uppercase}}
                        </ng-container>
                        <ng-container *ngIf="item.tipo>0&&item.tipo<=10">
                        {{item.date|date:'MMM'| uppercase}} {{item.date|date:'YY'| uppercase}} 
                        </ng-container>                                                 
                      </th>
                  </ng-container>
                </ng-container>
      
                  <ng-container *ngIf="(tipreport=='Rubro'||tipreport=='PensionRubro')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                  <ng-container *ngFor="let item of pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].rubro;let idenx = index">
                    <th >
                      <ng-container>
                        {{item.date| uppercase}}
                      </ng-container>                                               
                    </th>
                  </ng-container>
                </ng-container>
                
                <th style="background-color: green;">Valores Recaudados</th>
                <th style="background-color: rgb(200, 0, 0);">Valores por Recaudar</th>
              </thead>
              <tbody >
        
                  <tr *ngFor="let item of pagos_estudiante[ctpagos.curso][ctpagos.paralelo]; let idenx = index">
                    <td>{{ idenx+1 }}</td>  
                    <td style="text-align: left">
                      {{ item.nombres }}
                      <ng-container *ngIf="item.estado =='Desactivado'">
                        <i>(Retirado)</i>
                      </ng-container>
                    </td>
                    <ng-container *ngIf="tipreport=='Pension'||tipreport=='PensionRubro'">
                      <ng-container *ngFor="let detalle of item.detalle;let idetalle = index">
                        <td *ngIf="isNumber(detalle.valor)">
                          <p *ngIf="detalle.valor > 0">
                            {{detalle.valor | number : "1.2"}}
                          </p>
          
                          <p *ngIf="detalle.valor <= 0 && detalle.porpagar>0 ">
                            -
                          </p>
                          <p *ngIf="detalle.valor <= 0 && detalle.porpagar<=0 ">
                            (Becado)
                          </p>
                        </td>
                      </ng-container>               
                    </ng-container>
                    <ng-container *ngIf="tipreport=='Rubro'||tipreport=='PensionRubro'">
                      <ng-container *ngFor="let detalle of item.rubro;let idetalle = index">
                        <td *ngIf="isNumber(detalle.valor)">
                          <p *ngIf="detalle.valor > 0">
                            {{detalle.valor | number : "1.2"}}
                          </p>
          
                          <p *ngIf="detalle.valor <= 0 && detalle.porpagar>0 ">
                            -
                          </p>
                          <p *ngIf="detalle.valor <= 0 && detalle.porpagar<=0 ">
                            (Becado)
                          </p>
                        </td>
                      </ng-container>                
                    </ng-container>
                    <ng-container *ngIf="tipreport=='Pension'">
                      <td >
                        {{sumarvalores(item.detalle,'valor')| number : "1.2"}}
                      </td>
                      <td >
                        {{sumarvalores(item.detalle,'porpagar')| number : "1.2"}}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="tipreport=='Rubro'">
                      <td >
                        {{sumarvalores(item.rubro,'valor')| number : "1.2"}}
                      </td>
                      <td >
                        {{sumarvalores(item.rubro,'porpagar')| number : "1.2"}}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="tipreport=='PensionRubro'">
                      <td >
                        {{sumarvalores(item.detalle,'valor')+sumarvalores(item.rubro,'valor')| number : "1.2"}}
                      </td>
                      <td >
                        {{sumarvalores(item.detalle,'porpagar')+sumarvalores(item.rubro,'porpagar')| number : "1.2"}}
                      </td>
                    </ng-container>
                  </tr>
                  <tr class="table-info" style="font-weight: bold;">
                    <td colspan="2">Total</td>
                    <ng-container *ngIf="(tipreport=='Pension'||tipreport=='PensionRubro')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                      <ng-container *ngFor="let item of pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle;let idenx = index">
                        <td >
                          {{
                            sumarrecuadado(
                              'detalle',
                              'valor',
                              idenx,
                              ctpagos.curso,ctpagos.paralelo
                            ) | number : "1.2"
                          }}                                            
                        </td>
                      </ng-container>
                    </ng-container>
      
                    <ng-container *ngIf="(tipreport=='Rubro'||tipreport=='PensionRubro')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                      <ng-container *ngFor="let item of pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].rubro;let idenx = index">
                        <td >
                          {{
                            sumarrecuadado(
                              'rubro',
                              'valor',
                              idenx,
                              ctpagos.curso,ctpagos.paralelo
                            ) | number : "1.2"
                          }}                                            
                        </td>
                      </ng-container>
                    </ng-container>
      
                    <ng-container *ngIf="(tipreport=='Pension')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                      <td >
                        {{
                          sumarrecuadado(
                            'detalle',
                            'valor',
                            pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle.length ,
                            ctpagos.curso,ctpagos.paralelo
                          ) | number : "1.2"
                        }}
                      </td>
                      <td >
                        {{
                          sumarrecuadado(
                            'detalle',
                            'porpagar',
                            pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle.length ,
                            ctpagos.curso,ctpagos.paralelo
                          ) | number : "1.2"
                        }}  
                      </td>
                    </ng-container>
                    <ng-container *ngIf="(tipreport=='Rubro')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                      <td >
                        {{
                          sumarrecuadado(
                            'rubro',
                            'valor',
                            pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle.length ,
                            ctpagos.curso,ctpagos.paralelo
                          ) | number : "1.2"
                        }}
                      </td>
                      <td >
                        {{
                          sumarrecuadado(
                            'rubro',
                            'porpagar',
                            pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle.length ,
                            ctpagos.curso,ctpagos.paralelo
                          ) | number : "1.2"
                        }}  
                      </td>
                    </ng-container>
                    <ng-container *ngIf="(tipreport=='PensionRubro')&&pagos_estudiante[ctpagos.curso][ctpagos.paralelo]">
                      <td >
                        {{ sumarrecuadado(
                          'detalle',
                          'valor',
                          pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle.length ,
                          ctpagos.curso,ctpagos.paralelo
                        ) +
                          sumarrecuadado(
                            'rubro',
                            'valor',
                            pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].rubro.length ,
                            ctpagos.curso,ctpagos.paralelo
                          ) | number : "1.2"
                        }}
                      </td>
                      <td >
                        {{ sumarrecuadado(
                          'detalle',
                          'porpagar',
                          pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].detalle.length ,
                          ctpagos.curso,ctpagos.paralelo
                        ) +
                          sumarrecuadado(
                            'rubro',
                            'porpagar',
                            pagos_estudiante[ctpagos.curso][ctpagos.paralelo][0].rubro.length ,
                            ctpagos.curso,ctpagos.paralelo
                          ) | number : "1.2"
                        }}  
                      </td>
                    </ng-container>
                  </tr>  
                  <tr style="border: 0">
                    <td colspan="5" style="border: 0; height: 100px;"></td>
                  </tr>
              </tbody> 
              <tfoot>
                <div style="margin-right: auto;margin-left: auto;">
                  <table id="detalleeconomico" class="table table-sm table-nowrap card-table" style="width: 100%;margin-top: 10cm;" >
                    
                      <thead style="border:0">
                        <th style="border:0"></th>
                        <th style="border:0"></th>
                        <th style="border:0"></th>
                      </thead>
                      <tbody>                 
                        <tr style="border: 0; text-align: center;">
                          <th style="border: 0">
                            <p>{{director}}</p>
                            <p>Director(a)</p>
                          </th>
      
                          <th style="border: 0">
                            <p>{{delegado}}</p>
                            <p>Delegado del Obispo</p>
                          </th>
      
                          <th style="border: 0">
                            <p>{{admin}}</p>
                            <p>Responsable</p>
                          </th>
                        </tr>
                      </tbody>
                      
                                    
                  </table>                          
                </div>
              </tfoot> 
              </table>
            </div>
          </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div id="impresion" class="informe" *ngIf="tipreport=='Becado'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3" style="text-align: center;width: 20%; ">
            <img _ngcontent-twf-c49="" [src]="url + 'obtener_portada/' + imagen" alt="..." 
                class="navbar-brand-img mx-auto" style=" max-width: 40%; ">
          </div>
          <div class="col-auto" style="text-align: center; width: 60%;">
            <h2><b>
              {{info.titulo| uppercase}}</b>
              <h4 style=" text-align:center;">
              Dirección: {{info.calle1}} y {{info.calle2}}<br>
    
              Teléfono: {{info.telefonocon}}<br>
    
              Año lectivo {{pdffecha}}
              </h4>
    
              </h2>
          </div>
          <div class="col-3" style="text-align: center;width: 20%;">
            <img _ngcontent-twf-c49="" src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg" alt="..." 
            class="navbar-brand-img mx-auto" style="max-height: 4rem !important;" style="height: 2cm;"><br>
            <img _ngcontent-twf-c49="" src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png" alt="..." 
            class="navbar-brand-img mx-auto" style="max-height: 4rem !important;" style="height: 2cm;">
          </div>
        </div>
    
        <h4 class="card-header-title">
          Becas
        </h4>  
      </div>

      <div class="card-body">
        <div class="table-responsive"
        id="collapseExample-Becas"
      >
        <table
          id="becados"
          class="table table-sm table-nowrap card-table"
        >
          <thead>
            <tr>
              <th>N°</th>
              <th>Estudainte</th>
              <th>Curso</th>
              <th>Beca</th>
              <th>Matricula</th>
              <th>Meses con Beca</th>
              <th>Usado</th>
            </tr>
          </thead>
          <tbody class="font-size-base" >
                <tr *ngFor="let pensiones of pensionesestudiantearmado; let index = index">
              <th>
                {{index+1 }}
              </th>
                  <td>
                    {{ pensiones.idestudiante.apellidos }}
                    
                    {{ pensiones.idestudiante.nombres }}
                   
                    <span
                      class="alert-danger"
                      *ngIf="
                        pensiones.idestudiante.estado ==
                        'Desactivado'
                      "
                    >
                      <i class="fe fe-info mr-1"></i> Retirado
                    </span>
                  </td>
                  <td>
                    {{ pensiones.curso }}{{ pensiones.paralelo }}
                  </td>
                  <td>
                    {{ pensiones.val_beca | number : "1.2" }}
                  </td>
                  <td>
                    <span *ngIf="pensiones.matricula == 1"
                      > <ng-container *ngIf="buscarbeca(pensiones._id,'0')==false">Becado</ng-container>
                      <ng-container *ngIf="buscarbeca(pensiones._id,'0')==true">-</ng-container>
                    </span>
  
                    <span *ngIf="pensiones.matricula == 0"
                      >-</span
                    >
                  </td>
                  <td>
                    {{ pensiones.num_mes_beca }}
                  </td>
                  <td>
                    {{
                      pensiones.num_mes_beca - pensiones.num_mes_res
                    }}
                  </td>
                </tr>
                <tr style="border: 0">
                  <td colspan="7" style="border: 0; height: 100px;"></td>
                </tr>
          </tbody>
        </table>
        </div>
      </div>
      <div style="margin-right: auto;margin-left: auto;">
        <table id="detalleeconomico" class="table table-sm table-nowrap card-table" style="width: 100%;margin-top: 10cm;" >
          
            <thead style="border:0">
              <th style="border:0"></th>
              <th style="border:0"></th>
              <th style="border:0"></th>
            </thead>
            <tbody>                 
              <tr style="border: 0; text-align: center;">
                <th style="border: 0">
                  <p>{{director}}</p>
                  <p>Director(a)</p>
                </th>

                <th style="border: 0">
                  <p>{{delegado}}</p>
                  <p>Delegado del Obispo</p>
                </th>

                <th style="border: 0">
                  <p>{{admin}}</p>
                  <p>Responsable</p>
                </th>
              </tr>
            </tbody>
            
                          
        </table>                          
      </div>
    </div>

    <div id="impresion" class="informe" *ngIf="tipreport=='Retirados'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3" style="text-align: center;width: 20%; ">
            <img _ngcontent-twf-c49="" [src]="url + 'obtener_portada/' + imagen" alt="..." 
                class="navbar-brand-img mx-auto" style=" max-width: 40%; ">
          </div>
          <div class="col-auto" style="text-align: center; width: 60%;">
            <h2><b>
              {{info.titulo| uppercase}}</b>
              <h4 style=" text-align:center;">
              Dirección: {{info.calle1}} y {{info.calle2}}<br>
    
              Teléfono: {{info.telefonocon}}<br>
    
              Año lectivo {{pdffecha}}
              </h4>
    
              </h2>
          </div>
          <div class="col-3" style="text-align: center;width: 20%;">
            <img _ngcontent-twf-c49="" src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg" alt="..." 
            class="navbar-brand-img mx-auto" style="max-height: 4rem !important;" style="height: 2cm;"><br>
            <img _ngcontent-twf-c49="" src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png" alt="..." 
            class="navbar-brand-img mx-auto" style="max-height: 4rem !important;" style="height: 2cm;">
          </div>
        </div>
    
        <h4 class="card-header-title">
          Retirados
        </h4> 
      </div>

      <div class="card-body">
        <div class="table-responsive"
        
        id="collapseExample-Retirados"
      >
        <table class="table table-sm table-nowrap card-table"
          id="eliminados">
          <thead>
            <tr>
              <th>
                N°
              </th>
              <th
                
              >
                Apellidos
              </th>
              <th
               
              >
                Nombres
              </th>
              <th
              >
                Fecha
              </th>
              <th
              >
                Curso
              </th>
              <th>Beca</th>
              <th>Matricula</th>
              <th>Meses con Beca</th>
              <th>Usado</th>
              <th>Detalles de Pago</th>
            </tr>
          </thead>
          <tbody>                  
              <tr *ngFor="let pensiones of retirados_arr; let index = index">
                <td>
                  {{index+1}}
                </td>
                <td>
                  {{ pensiones?.idestudiante?.apellidos }}
                </td>
                <td>
                  {{ pensiones?.idestudiante?.nombres }}
                </td>
                <td>
                  {{
                    pensiones?.idestudiante?.f_desac
                      | date : "short"
                  }}
                </td>
                <td>
                  {{ pensiones?.curso }}{{ pensiones?.paralelo }}
                </td>
                <td>
                  <ng-container
                    *ngIf="pensiones?.val_beca != undefined"
                  >
                    {{ pensiones?.val_beca | number : "1.2" }} (-{{
                      pensiones?.desc_beca
                    }}%)
                  </ng-container>
                  <ng-container
                    *ngIf="pensiones?.val_beca == undefined"
                  >
                    No tiene Beca
                  </ng-container>
                </td>
                <td>
                  <span *ngIf="pensiones?.matricula == 1"
                    ><i class="fe fe-check">Pagado</i>
                  </span>
  
                  <span *ngIf="pensiones?.matricula == 0"
                    ><i class="fe fe-x">No Pagado</i></span
                  >
                </td>
                <td>
                  {{ pensiones?.num_mes_beca }}
                </td>
                <td>
                  <ng-container
                    *ngIf="pensiones?.val_beca != undefined"
                  >
                    {{
                      pensiones?.num_mes_beca -
                        pensiones?.num_mes_res
                    }}
                  </ng-container>
                </td>
                <td>
                  <ng-container
                      *ngIf="pensiones.pagos"
                    >
                    <ng-container
                    *ngFor="let pagos of pensiones.pagos"
  
                    
                  >
                    <span *ngIf="pagos.tipo == 0">
                      Matricula:
                      {{ pagos.valor | number : "1.2" }}
                    </span>
                    <span
                      *ngIf="
                        pagos.tipo > 0 && pagos.tipo < 20
                      "
                    >
                      Mes {{ pagos.tipo }}:
                      {{ pagos.valor | number : "1.2" }}
                    </span>
                    <span *ngIf="pagos.tipo > 25">
                      Extra pagos:
                      {{ pagos.valor | number : "1.2" }}
                    </span>
                      <a class="factura"
                    style="cursor: pointer"
                    [routerLink]="[
                      '/pagos/',
                      pagos._id
                    ]"
                  >
                    {{ pagos._id }}</a
                  ><br>
                    </ng-container>
                  </ng-container>
                    
                </td>                        
              </tr>  
              <tr style="border: 0">
                <td colspan="5" style="border: 0; height: 100px;"></td>
              </tr>                  
          </tbody>
  
        </table>
      </div>
      </div>
      <div style="margin-right: auto;margin-left: auto;">
        <table id="detalleeconomico" class="table table-sm table-nowrap card-table" style="width: 100%;margin-top: 10cm;" >
          
            <thead style="border:0">
              <th style="border:0"></th>
              <th style="border:0"></th>
              <th style="border:0"></th>
            </thead>
            <tbody>                 
              <tr style="border: 0; text-align: center;">
                <th style="border: 0">
                  <p>{{director}}</p>
                  <p>Director(a)</p>
                </th>

                <th style="border: 0">
                  <p>{{delegado}}</p>
                  <p>Delegado del Obispo</p>
                </th>

                <th style="border: 0">
                  <p>{{admin}}</p>
                  <p>Responsable</p>
                </th>
              </tr>
            </tbody>
            
                          
        </table>                          
      </div>
    </div>

  </div>
</div>

