<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">Reporte de {{ tipreport }}</div>
      <div class="card-body">
        <!-- Button trigger modal -->
        <button
          *ngIf="
            tipreport == 'Pension' ||
            tipreport == 'Rubro' ||
            tipreport == 'PensionRubro'
          "
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Selección de Cursos
        </button>
        <button
          *ngIf="
            tipreport != 'Pension' &&
            tipreport != 'Rubro' &&
            tipreport != 'PensionRubro'
          "
          class="btn btn-primary"
          type="button"
          (click)="imprimir()"
        >
          Imprimir
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Selecciona los cursos para imprimir
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div
            class="mb-3"
            *ngIf="
              tipreport != 'Becado' &&
              tipreport != 'Retirados' &&
              tipreport != 'Genero'
            "
          >
            <label for="" class="form-text">Cursos</label>

            <ng-container *ngFor="let curso of cursos2">
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  role="switch"
                  class="form-check-input"
                  (change)="
                    curso.name === 'descr'
                      ? cambiarSeleccionTodo('cursos2')
                      : cambiarSeleccionTodo2('cursos2')
                  "
                  [(ngModel)]="curso.seleccionado"
                />
                <label class="form-check-label">
                  {{ curso.name === "descr" ? "Todos" : curso.name }}
                </label>
              </div>
            </ng-container>
          </div>

          <div
            class="mb-3"
            *ngIf="
              tipreport != 'Becado' &&
              tipreport != 'Retirados' &&
              tipreport != 'Genero'
            "
          >
            <label for="" class="form-text">Paralelo</label>

            <ng-container *ngFor="let paralelo of paralelo">
              <div class="form-check form-check-inline">
                <input
                  type="checkbox"
                  role="switch"
                  class="form-check-input"
                  (change)="
                    paralelo.name === 'Todos'
                      ? cambiarSeleccionTodo('paralelo')
                      : cambiarSeleccionTodo2('paralelo')
                  "
                  [(ngModel)]="paralelo.seleccionado"
                />
                <label class="form-check-label">{{ paralelo.name }}</label>
              </div>
            </ng-container>
          </div>

          <div
            class="mb-3"
            *ngIf="
              tipreport != 'Becado' &&
              tipreport != 'Retirados' &&
              tipreport != 'Genero'
            "
          >
            <label for="" class="form-text">Especialidad</label>

            <ng-container *ngFor="let especialidad of especialidades">
              <div
                class="form-check form-check-inline"
                *ngIf="especialidad.view"
              >
                <input
                  type="checkbox"
                  role="switch"
                  class="form-check-input"
                  (change)="
                    especialidad.name === 'Todos'
                      ? cambiarSeleccionTodo('especialidades')
                      : cambiarSeleccionTodo2('especialidades')
                  "
                  [(ngModel)]="especialidad.seleccionado"
                />
                <label class="form-check-label">{{ especialidad.name }}</label>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>

        <button class="btn btn-primary" type="button" (click)="imprimir()">
          Imprimir
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="height: auto; display: none">
  <div class="content">
    <div
      id="impresion"
      class="informe"
      *ngIf="
        tipreport == 'Pension' ||
        tipreport == 'Rubro' ||
        tipreport == 'PensionRubro'
      "
    >
      <ng-container *ngFor="let especialidad of resumen; let k = index">
        <ng-container *ngFor="let curso of especialidad.cursos">
          <div
            id="{{ especialidad.code + curso.curso + curso.paralelo }}"
            class="card mb-3"
            [ngClass]="{ 'table-1': k !== 0 }"
            *ngIf="
              especialidad.cursos &&
              shouldShowCard(especialidad.nombre, curso.curso, curso.paralelo)
            "
            style="break-inside: avoid"
          >
            <div class="card-header bg-light">
              <div class="row align-items-center">
                <div class="col-3" style="text-align: center; width: 20%">
                  <img
                    _ngcontent-twf-c49=""
                    [src]="url + 'obtener_portada/' + imagen"
                    alt="..."
                    class="navbar-brand-img mx-auto"
                    style="max-width: 40%"
                  />
                </div>
                <div class="col-auto" style="text-align: center; width: 60%">
                  <h2>
                    <b> {{ info.titulo | uppercase }}</b>
                    <h4 style="text-align: center">
                      Dirección: {{ info.calle1 }} y {{ info.calle2 }}<br />

                      Teléfono: {{ info.telefonocon }}<br />

                      Año lectivo {{ pdffecha }}
                    </h4>
                  </h2>
                </div>
                <div class="col-3" style="text-align: center; width: 20%">
                  <img
                    _ngcontent-twf-c49=""
                    src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg"
                    alt="..."
                    class="navbar-brand-img mx-auto"
                    style="max-height: 4rem !important"
                    style="height: 2cm"
                  /><br />
                  <img
                    _ngcontent-twf-c49=""
                    src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png"
                    alt="..."
                    class="navbar-brand-img mx-auto"
                    style="max-height: 4rem !important"
                    style="height: 2cm"
                  />
                </div>
              </div>
            </div>
            <ng-container *ngIf="curso">
              <h4
                class="card-header-title mb-0 d-flex justify-content-between align-items-center mt-3 ml-3"
              >
                Curso: {{ curso.curso }} {{ curso.paralelo }}
                {{ especialidad.nombre }}
              </h4>
            </ng-container>
            <div class="card-body table-responsive">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>N°</th>
                    <th>Nombres</th>
                    <ng-container
                      *ngIf="
                        (tipreport == 'Pension' ||
                          tipreport == 'PensionRubro') &&
                        pagos_estudiante[especialidad.nombre][curso.curso][
                          curso.paralelo
                        ][0].detalle.length > 0
                      "
                    >
                      <ng-container
                        *ngFor="
                          let item of pagos_estudiante[especialidad.nombre][
                            curso.curso
                          ][curso.paralelo][0].detalle
                        "
                      >
                        <th>
                          <ng-container *ngIf="item.tipo == 0">
                            {{ item.date | uppercase }}
                          </ng-container>
                          <ng-container
                            *ngIf="item.tipo > 0 && item.tipo <= 10"
                          >
                            {{ item.date | date : "MMM" | uppercase }}
                            {{ item.date | date : "YY" | uppercase }}
                          </ng-container>
                        </th>
                      </ng-container>
                    </ng-container>

                    <ng-container
                      *ngIf="
                        (tipreport == 'Rubro' || tipreport == 'PensionRubro') &&
                        pagos_estudiante[especialidad.nombre][curso.curso][
                          curso.paralelo
                        ][0].rubro.length > 0
                      "
                    >
                      <ng-container
                        *ngFor="
                          let item of pagos_estudiante[especialidad.nombre][
                            curso.curso
                          ][curso.paralelo][0].rubro
                        "
                      >
                        <th>
                          <ng-container>
                            {{ item.date | uppercase }}
                          </ng-container>
                        </th>
                      </ng-container>
                    </ng-container>
                    <th style="background-color: rgb(57, 228, 57)">
                      Valores Recaudados
                    </th>
                    <th style="background-color: rgb(224, 63, 63)">
                      Valores por Recaudar
                    </th>
                    <th style="background-color: rgb(64, 177, 221)">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of pagos_estudiante[especialidad.nombre][
                        curso.curso
                      ][curso.paralelo];
                      let i = index
                    "
                  >
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      {{ item.nombres }}
                      <ng-container *ngIf="item.estado == 'Desactivado'">
                        <i>(Retirado)</i>
                      </ng-container>
                    </td>
                    <ng-container
                      *ngIf="
                        tipreport == 'Pension' || tipreport == 'PensionRubro'
                      "
                    >
                      <ng-container
                        *ngFor="
                          let detalle of item.detalle;
                          let idetalle = index
                        "
                      >
                        <td>
                          <ng-container *ngIf="isNumber(detalle.valor)">
                            <p *ngIf="detalle.valor > 0">
                              {{ detalle.valor | number : "1.2" }}
                            </p>

                            <p
                              *ngIf="detalle.valor <= 0 && detalle.porpagar > 0"
                            >
                              -
                            </p>
                            <p
                              *ngIf="
                                detalle.valor <= 0 && detalle.porpagar <= 0
                              "
                            >
                              (Becado)
                            </p>
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        tipreport == 'Rubro' || tipreport == 'PensionRubro'
                      "
                    >
                      <ng-container
                        *ngFor="let detalle of item.rubro; let idetalle = index"
                      >
                        <td>
                          <ng-container>
                            {{ detalle.valor | number : "1.2" }}
                          </ng-container>
                        </td>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="tipreport == 'Pension'">
                      <td>
                        {{
                          sumarvalores(item.detalle, "valor") | number : "1.2"
                        }}
                      </td>
                      <td>
                        {{
                          sumarvalores(item.detalle, "porpagar")
                            | number : "1.2"
                        }}
                      </td>
                      <td>
                        {{
                          sumarvalores(item.detalle, "valor") +
                            sumarvalores(item.detalle, "porpagar")
                            | number : "1.2"
                        }}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="tipreport == 'Rubro'">
                      <td>
                        {{ sumarvalores(item.rubro, "valor") | number : "1.2" }}
                      </td>
                      <td>
                        {{
                          sumarvalores(item.rubro, "porpagar") | number : "1.2"
                        }}
                      </td>
                      <td>
                        {{
                          sumarvalores(item.rubro, "valor") +
                            sumarvalores(item.rubro, "porpagar")
                            | number : "1.2"
                        }}
                      </td>
                    </ng-container>
                    <ng-container *ngIf="tipreport == 'PensionRubro'">
                      <td>
                        {{
                          sumarvalores(item.detalle, "valor") +
                            sumarvalores(item.rubro, "valor") | number : "1.2"
                        }}
                      </td>
                      <td>
                        {{
                          sumarvalores(item.detalle, "porpagar") +
                            sumarvalores(item.rubro, "porpagar")
                            | number : "1.2"
                        }}
                      </td>
                      <td>
                        {{
                          sumarvalores(item.detalle, "valor") +
                            sumarvalores(item.rubro, "valor") +
                            sumarvalores(item.detalle, "porpagar") +
                            sumarvalores(item.rubro, "porpagar")
                            | number : "1.2"
                        }}
                      </td>
                    </ng-container>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"><strong>TOTAL</strong></td>

                    <!-- Totales Pensión -->
                    <ng-container
                      *ngIf="
                        tipreport === 'Pension' || tipreport === 'PensionRubro'
                      "
                    >
                      <td
                        *ngFor="
                          let item of pagos_estudiante[especialidad.nombre][
                            curso.curso
                          ][curso.paralelo][0].detalle
                        "
                      >
                        <strong>{{
                          calcularTotalColumna(
                            pagos_estudiante[especialidad.nombre][curso.curso][
                              curso.paralelo
                            ],
                            item.date,
                            "detalle",
                            true
                          ) | number : "1.2"
                        }}</strong>
                      </td>
                    </ng-container>

                    <!-- Totales Rubro -->
                    <ng-container
                      *ngIf="
                        tipreport === 'Rubro' || tipreport === 'PensionRubro'
                      "
                    >
                      <td
                        *ngFor="
                          let item of pagos_estudiante[especialidad.nombre][
                            curso.curso
                          ][curso.paralelo][0].rubro
                        "
                      >
                        <strong>{{
                          calcularTotalColumna(
                            pagos_estudiante[especialidad.nombre][curso.curso][
                              curso.paralelo
                            ],
                            item.date,
                            "rubro",
                            true
                          ) | number : "1.2"
                        }}</strong>
                      </td>
                    </ng-container>
                    <!-- Total de Valores Recaudados -->
                    <td style="background-color: rgb(57, 228, 57)">
                      <strong>
                        <ng-container *ngIf="tipreport == 'Pension'">
                          {{
                            calcularTotalTotal(
                              pagos_estudiante[especialidad.nombre][
                                curso.curso
                              ][curso.paralelo],
                              "detalle",
                              true
                            ) | number : "1.2"
                          }}
                        </ng-container>
                        <ng-container *ngIf="tipreport == 'Rubro'">
                          {{
                            calcularTotalTotal(
                              pagos_estudiante[especialidad.nombre][
                                curso.curso
                              ][curso.paralelo],
                              "rubro",
                              true
                            ) | number : "1.2"
                          }}
                        </ng-container>
                        <ngo-container *ngIf="tipreport == 'PensionRubro'">
                          {{
                            getSumaIguales(
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "detalle",
                                true
                              ),
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "rubro",
                                true
                              )
                            ) | number : "1.2"
                          }}
                        </ngo-container>
                      </strong>
                    </td>
                    <td style="background-color: rgb(224, 63, 63)">
                      <strong>
                        <ng-container *ngIf="tipreport == 'Pension'">
                          {{
                            calcularTotalTotal(
                              pagos_estudiante[especialidad.nombre][
                                curso.curso
                              ][curso.paralelo],
                              "detalle",
                              false
                            ) | number : "1.2"
                          }}
                        </ng-container>
                        <ng-container *ngIf="tipreport == 'Rubro'">
                          {{
                            calcularTotalTotal(
                              pagos_estudiante[especialidad.nombre][
                                curso.curso
                              ][curso.paralelo],
                              "rubro",
                              false
                            ) | number : "1.2"
                          }}
                        </ng-container>
                        <ngo-container *ngIf="tipreport == 'PensionRubro'">
                          {{
                            getSumaIguales(
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "detalle",
                                false
                              ),
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "rubro",
                                false
                              )
                            ) | number : "1.2"
                          }}
                        </ngo-container>
                      </strong>
                    </td>
                    <td style="background-color: rgb(64, 177, 221)">
                      <strong>
                        <ng-container *ngIf="tipreport == 'Pension'">
                          {{
                            calcularTotalTotal(
                              pagos_estudiante[especialidad.nombre][
                                curso.curso
                              ][curso.paralelo],
                              "detalle",
                              true
                            ) +
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "detalle",
                                false
                              ) | number : "1.2"
                          }}
                        </ng-container>
                        <ng-container *ngIf="tipreport == 'Rubro'">
                          {{
                            calcularTotalTotal(
                              pagos_estudiante[especialidad.nombre][
                                curso.curso
                              ][curso.paralelo],
                              "rubro",
                              true
                            ) +
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "rubro",
                                false
                              ) | number : "1.2"
                          }}
                        </ng-container>
                        <ngo-container *ngIf="tipreport == 'PensionRubro'">
                          {{
                            getSumaIguales(
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "detalle",
                                true
                              ),
                              calcularTotalTotal(
                                pagos_estudiante[especialidad.nombre][
                                  curso.curso
                                ][curso.paralelo],
                                "rubro",
                                true
                              )
                            ) +
                              getSumaIguales(
                                calcularTotalTotal(
                                  pagos_estudiante[especialidad.nombre][
                                    curso.curso
                                  ][curso.paralelo],
                                  "detalle",
                                  false
                                ),
                                calcularTotalTotal(
                                  pagos_estudiante[especialidad.nombre][
                                    curso.curso
                                  ][curso.paralelo],
                                  "rubro",
                                  false
                                )
                              ) | number : "1.2"
                          }}
                        </ngo-container>
                      </strong>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div
              class="card-footer"
              style="
                position: relative;
                margin-top: 3cm;
                padding: 1rem;
                page-break-inside: avoid;
              "
            >
              <div style="margin-right: auto; margin-left: auto">
                <table
                  class="table table-sm table-nowrap card-table"
                  style="width: 100%"
                >
                  <thead style="border: 0">
                    <th style="border: 0"></th>
                    <th style="border: 0"></th>
                    <th style="border: 0"></th>
                  </thead>
                  <tbody>
                    <tr style="border: 0; text-align: center">
                      <th style="border: 0">
                        <p>{{ director }}</p>
                        <p>Director(a)</p>
                      </th>

                      <th style="border: 0">
                        <p>{{ delegado }}</p>
                        <p>Delegado del Obispo</p>
                      </th>

                      <th style="border: 0">
                        <p>{{ admin }}</p>
                        <p>Responsable</p>
                      </th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div id="impresion" class="informe" *ngIf="tipreport == 'Becado'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3" style="text-align: center; width: 20%">
            <img
              _ngcontent-twf-c49=""
              [src]="url + 'obtener_portada/' + imagen"
              alt="..."
              class="navbar-brand-img mx-auto"
              style="max-width: 40%"
            />
          </div>
          <div class="col-auto" style="text-align: center; width: 60%">
            <h2>
              <b> {{ info.titulo | uppercase }}</b>
              <h4 style="text-align: center">
                Dirección: {{ info.calle1 }} y {{ info.calle2 }}<br />

                Teléfono: {{ info.telefonocon }}<br />

                Año lectivo {{ pdffecha }}
              </h4>
            </h2>
          </div>
          <div class="col-3" style="text-align: center; width: 20%">
            <img
              _ngcontent-twf-c49=""
              src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg"
              alt="..."
              class="navbar-brand-img mx-auto"
              style="max-height: 4rem !important"
              style="height: 2cm"
            /><br />
            <img
              _ngcontent-twf-c49=""
              src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png"
              alt="..."
              class="navbar-brand-img mx-auto"
              style="max-height: 4rem !important"
              style="height: 2cm"
            />
          </div>
        </div>

        <h4 class="card-header-title">Becas</h4>
      </div>

      <div class="card-body">
        <div class="table-responsive" id="collapseExample-Becas">
          <table id="becados" class="table table-sm table-nowrap card-table">
            <thead>
              <tr>
                <th>N°</th>
                <th>Estudainte</th>
                <th>Curso</th>
                <th>Beca</th>
                <th>Matricula</th>
                <th>Meses con Beca</th>
                <th>Usado</th>
              </tr>
            </thead>
            <tbody class="font-size-base">
              <tr
                *ngFor="
                  let pensiones of pensionesestudiantearmado;
                  let index = index
                "
              >
                <th>
                  {{ index + 1 }}
                </th>
                <td>
                  {{ pensiones.idestudiante.apellidos }}

                  {{ pensiones.idestudiante.nombres }}

                  <span
                    class="alert-danger"
                    *ngIf="pensiones.idestudiante.estado == 'Desactivado'"
                  >
                    <i class="fe fe-info mr-1"></i> Retirado
                  </span>
                </td>
                <td>
                  {{ pensiones.curso }}{{ pensiones.paralelo }}
                  {{ pensiones.especialidad }}
                </td>
                <td>
                  {{ pensiones.val_beca | number : "1.2" }}
                </td>
                <td>
                  <span *ngIf="pensiones.matricula == 1">
                    <ng-container
                      *ngIf="buscarbeca(pensiones._id, '0') == false"
                      >Becado</ng-container
                    >
                    <ng-container *ngIf="buscarbeca(pensiones._id, '0') == true"
                      >-</ng-container
                    >
                  </span>

                  <span *ngIf="pensiones.matricula == 0">-</span>
                </td>
                <td>
                  {{ pensiones.num_mes_beca }}
                </td>
                <td>
                  {{ pensiones.num_mes_beca - pensiones.num_mes_res }}
                </td>
              </tr>
              <tr style="border: 0">
                <td colspan="7" style="border: 0; height: 100px"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="margin-right: auto; margin-left: auto">
        <table
          id="detalleeconomico"
          class="table table-sm table-nowrap card-table"
          style="width: 100%; margin-top: 10cm"
        >
          <thead style="border: 0">
            <th style="border: 0"></th>
            <th style="border: 0"></th>
            <th style="border: 0"></th>
          </thead>
          <tbody>
            <tr style="border: 0; text-align: center">
              <th style="border: 0">
                <p>{{ director }}</p>
                <p>Director(a)</p>
              </th>

              <th style="border: 0">
                <p>{{ delegado }}</p>
                <p>Delegado del Obispo</p>
              </th>

              <th style="border: 0">
                <p>{{ admin }}</p>
                <p>Responsable</p>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="impresion" class="informe" *ngIf="tipreport == 'Retirados'">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-3" style="text-align: center; width: 20%">
            <img
              _ngcontent-twf-c49=""
              [src]="url + 'obtener_portada/' + imagen"
              alt="..."
              class="navbar-brand-img mx-auto"
              style="max-width: 40%"
            />
          </div>
          <div class="col-auto" style="text-align: center; width: 60%">
            <h2>
              <b> {{ info.titulo | uppercase }}</b>
              <h4 style="text-align: center">
                Dirección: {{ info.calle1 }} y {{ info.calle2 }}<br />

                Teléfono: {{ info.telefonocon }}<br />

                Año lectivo {{ pdffecha }}
              </h4>
            </h2>
          </div>
          <div class="col-3" style="text-align: center; width: 20%">
            <img
              _ngcontent-twf-c49=""
              src="https://i.postimg.cc/ThvxfG15/nuevo-logo-Mineduc.jpg"
              alt="..."
              class="navbar-brand-img mx-auto"
              style="max-height: 4rem !important"
              style="height: 2cm"
            /><br />
            <img
              _ngcontent-twf-c49=""
              src="https://i.postimg.cc/ZYBybc0J/Politics-of-Ecuador-Guillermo-Lasso-Administration-logo-svg.png"
              alt="..."
              class="navbar-brand-img mx-auto"
              style="max-height: 4rem !important"
              style="height: 2cm"
            />
          </div>
        </div>

        <h4 class="card-header-title">Retirados</h4>
      </div>

      <div class="card-body">
        <div class="table-responsive" id="collapseExample-Retirados">
          <table class="table table-sm table-nowrap card-table" id="eliminados">
            <thead>
              <tr>
                <th>N°</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Fecha</th>
                <th>Curso</th>
                <th>Beca</th>
                <th>Matricula</th>
                <th>Meses con Beca</th>
                <th>Usado</th>
                <th>Detalles de Pago</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pensiones of retirados_arr; let index = index">
                <td>
                  {{ index + 1 }}
                </td>
                <td>
                  {{ pensiones?.idestudiante?.apellidos }}
                </td>
                <td>
                  {{ pensiones?.idestudiante?.nombres }}
                </td>
                <td>
                  {{ pensiones?.idestudiante?.f_desac | date : "short" }}
                </td>
                <td>
                  {{ pensiones?.curso }}{{ pensiones?.paralelo }}
                  {{ pensiones?.especialidad }}
                </td>
                <td>
                  <ng-container *ngIf="pensiones?.val_beca != undefined">
                    {{ pensiones?.val_beca | number : "1.2" }} (-{{
                      pensiones?.desc_beca
                    }}%)
                  </ng-container>
                  <ng-container *ngIf="pensiones?.val_beca == undefined">
                    No tiene Beca
                  </ng-container>
                </td>
                <td>
                  <span *ngIf="pensiones?.matricula == 1"
                    ><i class="fe fe-check">Pagado</i>
                  </span>

                  <span *ngIf="pensiones?.matricula == 0"
                    ><i class="fe fe-x">No Pagado</i></span
                  >
                </td>
                <td>
                  {{ pensiones?.num_mes_beca }}
                </td>
                <td>
                  <ng-container *ngIf="pensiones?.val_beca != undefined">
                    {{ pensiones?.num_mes_beca - pensiones?.num_mes_res }}
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="pensiones.pagos">
                    <ng-container *ngFor="let pagos of pensiones.pagos">
                      <span *ngIf="pagos.tipo == 0">
                        Matricula:
                        {{ pagos.valor | number : "1.2" }}
                      </span>
                      <span *ngIf="pagos.tipo > 0 && pagos.tipo < 20">
                        Mes {{ pagos.tipo }}:
                        {{ pagos.valor | number : "1.2" }}
                      </span>
                      <span *ngIf="pagos.tipo > 25">
                        Extra pagos:
                        {{ pagos.valor | number : "1.2" }}
                      </span>
                      <a
                        class="factura"
                        style="cursor: pointer"
                        [routerLink]="['/pagos/', pagos._id]"
                      >
                        {{ pagos._id }}</a
                      ><br />
                    </ng-container>
                  </ng-container>
                </td>
              </tr>
              <tr style="border: 0">
                <td colspan="5" style="border: 0; height: 100px"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="margin-right: auto; margin-left: auto">
        <table
          id="detalleeconomico"
          class="table table-sm table-nowrap card-table"
          style="width: 100%; margin-top: 10cm"
        >
          <thead style="border: 0">
            <th style="border: 0"></th>
            <th style="border: 0"></th>
            <th style="border: 0"></th>
          </thead>
          <tbody>
            <tr style="border: 0; text-align: center">
              <th style="border: 0">
                <p>{{ director }}</p>
                <p>Director(a)</p>
              </th>

              <th style="border: 0">
                <p>{{ delegado }}</p>
                <p>Delegado del Obispo</p>
              </th>

              <th style="border: 0">
                <p>{{ admin }}</p>
                <p>Responsable</p>
              </th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
