<div class="container">
  <div class="sidebar">
    <app-sidebar-log></app-sidebar-log>
  </div>
  <!--*ngIf="URLactual.hostname=='incorp.tk'"-->

  <div class="content" *ngIf="URLactual.hostname != 'incorp.tk'">
    <div class="card">
      <div class="card-body">
        Solo es posible registrarse a través de la página oficial de
        <a href="https://incorp.tk/login">Incorp.tk</a>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div class="card">
    <div class="card-header">
      <!-- Title -->
      <h4 class="card-header-title">Ingresa tus datos Personales</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputName">Nombres (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Nombres"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú ]+$"
                  name="nombres"
                  formControlName="nombres"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputLastName">Apellidos (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Apellidos"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú ]+$"
                  name="apellidos"
                  formControlName="apellidos"
                />
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <label for="">Cédula (*)</label>
              <input
                type="text"
                class="form-control"
                placeholder="Cédula"
                pattern="^[0-9]+$"
                maxlength="10"
                minlength="10"
                required
                name="dni"
                formControlName="dni"
              />
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputPhone">Teléfono (*)</label>
                <input
                  type="tel"
                  class="form-control"
                  required
                  placeholder="Teléfono"
                  pattern="^[0-9]+$"
                  maxlength="10"
                  minlength="8"
                  name="telefono"
                  formControlName="telefono"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputEmail">Email (*)</label>
                <input
                  type="email"
                  class="form-control"
                  required
                  placeholder="Email"
                  pattern="^[a-z0-9@.!#$%&’*+-/=?^_`{|}~]+$"
                  name="email"
                  formControlName="email"
                />
              </div>
            </div>

            <div class="col-12">
              <label for="exampleInputPassword">Contraseña (*)</label>
              <div class="input-group input-group-merge">
                <!-- Input -->
                <input
                  type="password"
                  class="form-control form-control-appended"
                  placeholder="Ingresa tu contraseña"
                  maxlength="50"
                  minlength="8"
                  id="password"
                  name="password"
                  formControlName="password"
                />

                <!-- Icon -->
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    (click)="view_password()"
                    style="cursor: pointer"
                  >
                    <i class="fe fe-eye"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="exampleInputPassword">Repite Contraseña (*)</label>
              <div class="input-group input-group-merge">
                <!-- Input -->
                <input
                  type="password"
                  class="form-control form-control-appended"
                  placeholder="Vuelve a escribir tu contraseña"
                  maxlength="50"
                  minlength="8"
                  id="confirmPassword"
                  name="confirmPassword"
                  formControlName="confirmPassword"
                />

                <!-- Icon -->
                <div class="input-group-append">
                  <span
                    class="input-group-text"
                    (click)="view_passworda()"
                    style="cursor: pointer"
                  >
                    <i class="fe fe-eye"></i>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputName"
                  >Nombre de la base de datos(*)</label
                >
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="base de datos"
                  pattern="^[A-Za-z0-9]+$"
                  name="base"
                  formControlName="base"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <!-- Title -->
      <h4 class="card-header-title">Ingresa los datos de tu Institución</h4>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputName"
                  >Nombre de la Institución (*)</label
                >
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="titulo"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9 ]+$"
                  name="titulo"
                  formControlName="titulo"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPhone">telefono convencional (*)</label>
                <input
                  type="tel"
                  class="form-control"
                  required
                  placeholder="Teléfono Convencional"
                  pattern="^[0-9]+$"
                  maxlength="10"
                  minlength="8"
                  name="telefonocon"
                  formControlName="telefonocon"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPhone">telefono (*)</label>
                <input
                  type="tel"
                  class="form-control"
                  required
                  placeholder="Teléfono"
                  pattern="^[0-9]+$"
                  maxlength="10"
                  minlength="8"
                  name="telefonoinsti"
                  formControlName="telefonoinsti"
                />
              </div>
            </div>

            <div class="col-lg-6 form-group">
              <label for="">Portada (*)</label>
              <div class="custom-file">
                <input
                  class="custom-file-input"
                  type="file"
                  id="file-input"
                  (change)="fileChangeEvent($event)"
                />
                <label
                  class="custom-file-label"
                  id="input-portada"
                  for="file-input"
                  style="white-space: nowrap; overflow: hidden"
                  >Seleccionar imagen</label
                >
              </div>
            </div>

            <div class="col-lg-6">
              <img
                [src]="imgSelect"
                class="img-thumbnail"
                alt="Rounded image"
              />
            </div>

            <div class="col-lg-6 form-group">
              <label for="">País (*)</label>
              <input
                type="text"
                class="form-control"
                placeholder="País"
                pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9 ]+$"
                required
                name="pais"
                formControlName="pais"
              />
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputEmail">Provincia (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Provincia"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9 ]+$"
                  name="provincia"
                  formControlName="provincia"
                />
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPhone">Canton (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="Canton"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9 ]+$"
                  name="canton"
                  formControlName="canton"
                />
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="exampleInputPhone">Codigo Postal (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="codigopostal"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9 ]+$"
                  name="codigopostal"
                  formControlName="codigopostal"
                />
              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputPhone">Calle Principal (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="calle1"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9., ]+$"
                  name="calle1"
                  formControlName="calle1"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputPhone">Calle Secundaria (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="calle2"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9., ]+$"
                  name="calle2"
                  formControlName="calle2"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="exampleInputPhone">Referencia (*)</label>
                <input
                  type="text"
                  class="form-control"
                  required
                  placeholder="referencia"
                  pattern="^[A-ZÁÉÍÓÚa-záéíóú0-9., ]+$"
                  name="referencia"
                  formControlName="referencia"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">enviar</button>
</form>
