<div class="container-fluid">
	<div class="sidebar">
		<app-sidebar></app-sidebar>
	</div>
	
	<div class="col-md-auto">
        <div class="card">
            <div class="card-body">
                <ng-container *ngIf="rol != undefined">
                  <app-menu-dashboard></app-menu-dashboard>
                </ng-container>
        
                <ng-container *ngIf="rol == undefined">
                    <div class="card-body" style="cursor: progress">
                      <div class="main-content">
                        <div class="row">
                          <div class="col-12 text-center">
                            <div
                              class="spinner-border"
                              style="width: 3rem; height: 3rem"
                              role="status"
                            >
                              <span class="visually-hidden"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
            </div>
            <div class="card-footer">
                <p class="text-center">
                    <small class="text-muted"
                      >Tienes alguna duda?
                      <a href="mailto:info@golden-incorp.com">CONTACTANOS</a></small
                    >
                  </p>
            </div>

        </div>
        
    </div>
    
</div>